* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  /*   
  background: url(/Exerice/Exerice2/Layout3/images/bg-body.png) no-repeat; */
}
header {
  background: url(/Exerice/Exerice2/Layout3/images/bg-header.jpg) no-repeat;
  color: red;
  padding: 50px;
}
nav {
  background: url(/Exerice/Exerice2/Layout3/images/bg-menu.png) no-repeat;
  display: inline-block;
  font-size: 0;
  width: 100%;
  padding: 10px 20px;
}

nav li {
  display: inline-block;
  font-size: 16px;
  padding: 0px 10px;
}
.wrapper {
  display: inline-block;
  background-color: yellowgreen;
}
.content {
  display: inline-block;
}
